# IDE files

.idea
.vscode

# Environment files

/.env.local
/.env.local.php
/.env.*.local

# GIT

.git
.gitignore

# Docker & Infrastructure

docker-compose.yml
Dockerfile
.dockerignore

Jenkinsfile
/infrastructure/jenkins
/infrastructure/terraform

swagger.json

# Var and caches

/var
/vendor

# Other 

/*.md
Makefile

